<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Транспорт</title>
</head>
<body>

<h2>Таблица vehicles</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Тип</th>
        <th>Маршрут</th>
        <th>Модель</th>
        <th>Год</th>
        <th>Вместимость</th>
        <th>Статус</th>
    </tr>

    {% for v in vehicles %}
    <tr>
        <td>{{ v.id }}</td>
        <td>{{ v.type }}</td>
        <td>{{ v.route_number }}</td>
        <td>{{ v.model }}</td>
        <td>{{ v.year }}</td>
        <td>{{ v.capacity }}</td>
        <td>{{ v.status }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>